body {
    background-image: url("pollution.webp");
    background-color:white;
    background-size: cover;
    font-size: xx-large;
  }
  p1{
    background-color:chartreuse;
  }
  h2{
      background-color: brown;
  }
  p3{
      background-color: chartreuse;
  }
  h1{
      background-color: brown;}